.container-fluid{
background-image: url("3D-Red-Dice-HD-Wallpapers.png");
background-repeat: no-repeat;
background-size: cover;
  padding: 70px
}
.test-box {
    border: 5px solid grey;
background-color: grey;
opacity: 0.5;
 margin: 120px;
  }
#esy{
   letter-spacing: 3px;
padding: 20px;
font-size: 60px;
color: red;

}
#hrd{
padding: 20px;
font-size: 60px;
color: red;
}
#back{
  color: red;
}
h3:hover{
  text-decoration: underline;
}
